@media screen and (min-width:0) and (max-width:700px) {
  .following-container{
    padding:1.5rem;
    .following-box{
      margin-top:1.5rem;
      border-bottom:1px solid rgb(223, 223, 223);
      padding-bottom:1.5rem;
      
    
    .following-header{
      display:flex;
      align-items: center;
      .following-header-img, .following-name, .following-post-time{
        margin-right:.8rem;
        position:relative;
  
      }
         .following-name::after{
          content:".";
          position:absolute;
          bottom:.2rem;
          margin-left:.2rem;
        }
      .following-header-img{
        width:30px;
        height:30px;
        border-radius:50%;
      }
      .following-post-time{
        color:gray;
      }
    }
    
    .following-main{
      display:flex;
      margin-top:1rem;
      align-items: flex-start;
      justify-content: space-between;
      .following-main-img{
        width:40%;
        height:80px;
        object-fit: cover;
      }
      .following-title{
        font-size:20px;
        font-weight:700;
        width:70%;
        margin-right: 1rem;
      }
  
    }
    
    
    .following-footer{
      margin-top:1rem;
      display:flex;
      align-items: center;
      .following-tag{
        background:lightgray;
        padding:.3rem .5rem;
        border-radius:20px;
        margin-right:1rem;
      }
      .following-read-time{
        color:gray;
      }
    }
    }
  }
}


@media screen and (min-width:700px) {
  .following-container{
    padding:1.5rem 3.5rem;
    width: 65%;
    .following-box{
      margin-top:1.5rem;
      border-bottom:1px solid rgb(223, 223, 223);

      padding-bottom:1.5rem;
      
    
    .following-header{
      display:flex;
      align-items: center;
      .following-header-img, .following-name, .following-post-time{
        margin-right:.8rem;
        position:relative;
  
      }
         .following-name::after{
          content:".";
          position:absolute;
          bottom:.2rem;
          margin-left:.2rem;
        }
      .following-header-img{
        width:30px;
        height:30px;
        border-radius:50%;
      }
      .following-post-time{
        color:gray;
      }
    }
    
    .following-main{
      display:flex;
      margin-top:1rem;
      align-items: flex-start;
      justifollowing-content: space-between;
      .following-main-img{
        width:20%;
        height:80px;
        object-fit: cover;
      }
      .following-title{
        font-size:20px;
        font-weight:700;
        width:80%;
      }
  
    }
    
    
    .following-footer{
      margin-top:1rem;
      display:flex;
      align-items: center;
      .following-tag{
        background:lightgray;
        padding:.3rem .5rem;
        border-radius:20px;
        margin-right:1rem;
      }
      .following-read-time{
        color:gray;
      }
    }
    }
  }
}