.signin-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .signin-title{
        margin-bottom: 3rem;
        font-size: 30px;
    }
    
    .signin-options{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        .signin-google{
           background-color: transparent;
           border: 1px solid gray;
           width: 250px;
           display: flex;
           align-items: center;
           border-radius: 50px;
           padding:.6rem .5rem ;
    margin-bottom: 1rem;
    padding-left: .8rem;
           .sug-text{
            margin-left: 1rem;
            font-size: 16px;
           }
        }
    
        .signin-email{
            background-color: transparent;
            border: 1px solid gray;
            width: 250px;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding:.6rem .5rem ;
            
            padding-left: .8rem;
     margin-bottom: 1rem;
            .sue-text{
             margin-left: 1rem;
             font-size: 16px;
            }
         }

         .signin-facebook{
            background-color: transparent;
            border: 1px solid gray;
            width: 250px;
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding:.6rem .5rem ;
     margin-bottom: 1rem;
     padding-left: .8rem;
            .suf-text{
             margin-left: 1rem;
             font-size: 16px;
            }
         }
    }
    
    .already-acct{
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 600;
        a{
            text-decoration: none;
            color: red;
        }
    }
    }