    .usp-like-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
     padding: 1rem;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
    background: rgba(255,255,255,0.4);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.2);
border-radius:10px;
      .usp-lc{
        display:flex;
        align-items: center;
        .usp-likes, .usp-comment{
          display:flex;
          align-items: center;
          margin-right:1rem;
        }
      }
    }
    
    .usp-share-more{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .usp-s{
        margin-right:"6rem";
        .usp-more{
          
        }
      }
    }