.userprofileabout-container{
  padding:1rem 1.5rem;
  .upa-box{
    border-radius:.3rem;
    background:lightgray;
    padding:3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .upa-title{
      margin-bottom:1rem;
      font-weight: 700;
    }
    .upa-bio{
      text-align: center;
    }
    .upa-btn{
      padding:.8rem 1.5rem;
      margin-top:1rem;
      border-radius:7px;
    }
  }
}