.generalprofileabout-container{
  padding:1rem;
 margin-top:1rem;
 
 .gpa-member{
   margin-top:1rem;
 }
}


@media screen and (min-width:700px){
  .generalprofileabout-container{
    padding:1rem;
   margin-top:1rem;
   width: 60%;
   
   .gpa-member{
     margin-top:1rem;
   }
  }
}