@media screen and (min-width:0) and (max-width:700px) {
  .userpost-container{
    padding:1rem;
    .usp-titles{
      .usp-tit{
        font-weight:900;
        margin-bottom:.5rem;
      }
    }
    .usp-header{
    display:flex;
    margin-top:1rem;
    align-items: center;
    position:relative;
   .usp-header-pro{
     width:40px;
     height:40px;
     border-radius:50%;
     object-fit: cover;
     margin-right:1rem;
   }
   
   .usp-header-name{
     font-weight:700;
     font-size:15px;
     display:flex;
   }
   .usp-header-mins{
     margin-top:.2rem;
     color:gray;
     font-size:14px;
   }
  .usp-header-share{
    position:"absolute";
    right:0;
    
  }
    }
    
    .usp-main{
      .usp-titleImage{
        margin-top:4rem;
        width:100%;
        .usp-titleImg{
          width:100%;
          object-fit: cover;
          height:200px;
        }
        
        
      }
      
      .usp-content{
        width:100%;
        padding:.5rem;
        font-size:18px;
        word-break:break-word;
      }
      
  
    
    }
    
    .wp-blog-img{
      width:100%;
    }
  }
}


@media screen and (min-width:700px) {
  .userpost-container{
    padding:1rem;
    width: 65%;
    padding-right: 3rem;
    .usp-titles{
      .usp-tit{
        font-size: 40px;
        margin-top: 1rem;
        font-weight:900;
        margin-bottom:.5rem;
      }
    }
    .usp-header{
    display:flex;
    margin-top:1rem;
    align-items: center;
    position:relative;
   .usp-header-pro{
     width:50px;
     height:50px;
     border-radius:50%;
     object-fit: cover;
     margin-right:1rem;
   }
   
   .usp-header-name{
    font-weight:700;
    font-size:20px;
    display:flex;
  }
   .usp-header-mins{
     margin-top:.2rem;
     color:gray;
     font-size:14px;
   }
  .usp-header-share{
    position:"absolute";
    right:0;
    
  }
    }
    
    .usp-main{
      .usp-titleImage{
        margin-top:4rem;
        width:100%;
        height: 300px;
        overflow: hidden;

        .usp-titleImg{
      width: 100%;
object-fit: cover;
        height:100%;
        }
      
      }
      
      .usp-content{
        width:100%;
        padding:.5rem;
        font-size:18px;
      }
      
  
    
    }

    .wp-blog-img{
      width:100%;
      height: 300px;
      object-position: center;
    }
  }
}