.suggestions-container{
  padding:1rem;
  .suggestions-h3{
    margin-bottom:2rem;
  }
  .suggestions-box{
    display:flex;
    align-items: flex-start;
    margin-top:2rem;
    .suggestions-image{
      width:40px;
      
    
      flex-basis:150px;
      margin-right:1rem;
      border-radius:50%;
      .suggestions-img{
        width:100%;
        height:100%;
        border-radius:50%;
      }
    }
    
    .suggestions-text{
      
      
      .suggestions-name{
        font-weight:700;
      }
      .suggestions-bio{
        color:gray;
      }
    }
    .suggestions-btn{
      background:orangered;
      color:white;
      padding:.5rem 1rem;
      border-radius:40px;
    }
  }
}