@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Signika+Negative:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline:none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Signika Negative', sans-serif;
background-color: white;

}

button{
    cursor: pointer;
    border:none;
}