@media  screen and (min-width:0) and (max-width:700px) {
  .writepost-container{
    padding:1rem;
    
    .wp-publish-btn{
      padding:.7rem 1.5rem ;
      background:orangered;
      color:white;
      border-radius:7px;
      position:absolute;
      right:1rem;
      top:10px;
    }
    .wp-title{
      background-color: rgb(233, 233, 233);
      width:100%;
      max-height:150px;
      border-radius: 5px;
      padding:1rem;
      margin-top:3rem;
   height:70px;
   font-size:30px;
   font-weight:700;

    }
    
    .wp-sub-title{
     width:100%;
      width:100%;
      max-height:150px;
      padding:1rem;
   overflow: hidden;
   border-radius: 5px;
   background-color: rgb(233, 233, 233);

   height:50px;
   
   margin-top:.5rem;

    }
    
    .wp-insert-cover{
      width:70%;
      height:150px;
     margin:2rem auto;
      border:1px solid;
      position:relative;
      border-radius:10px;
      max-width: 300px;
      
      
     
  .tit-img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:10px;
    position: absolute;
    
  }
      .wp-cover-icon{
        position:absolute;
        left:50%;
        top:50%;
        color:orangered;
        transform:translate(-50%,-50%);
      }
      .wp-cover-inp{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:13px;
        opacity:0;
      }
    }
    
    .wp-board{
      border-radius: 5px;
      background-color: rgb(233, 233, 233);
      padding:1rem;
      padding-bottom:4rem;
      margin-bottom:10rem;
      overflow:hidden;
      transition: all .5s;
      font-size: 17px;
.board-span{
  display:none;
}
.board-img{
  width:100%;
  object-fit: cover;
  object-position: center;
  height:200px;
  border-radius:10px;
}
    }
    /*.wp-tags{
      position: relative;
      width:70%;
      max-width:400px;
      margin:1rem;
      .wp-tag-board{
        width:60%;
        max-width:300px;
        height:70px;
        padding:.2rem;
        border:1px solid;
        
      }
      .wp-tag-btn{
        position:absolute;
        bottom:0;
        right:0;
        padding:.7rem 1rem;
        border-radius:6px;
        background:orangered;
        color:white;
      }
    }*/
    .wp-footer{
      position:fixed;
      bottom:0;
      left:0;
      right:0;
      background:black;
      color:white;

      padding:1rem;
      
      .wp-url{
        padding:.7rem 1rem;
        width:80%;
        margin:.5rem 0;
        border-radius:30px;
        
      }
      .wp-footer-box{
        display:flex;
flex-direction: column;
overflow:hidden;
height:30px;
transition:all .5s;
      .wp-bold, .wp-italic{
       font-size:30px;
       font-weight: 700;
       margin-right:1.5rem;
      }
      .wp-italic{ 
        font-style:italic;
        font-family:'Courier New', Courier, monospace
      }
      .wp-add-image{
        overflow:hidden;
        width:50px;
        position: relative;
        .wp-footer-icon{
          position: absolute;
          left:50%;
          top:50%;
          transform:translate(-50%,-50%);
        }
        .wp-add-img{
          opacity:0;
        }
      }
      
      .wp-footer-url{
        font-size: 30px;
        margin-left: 1rem;
      }
      .wp-btn-link{
        background-color: orangered;
        color: white;
        padding: .8rem 3rem;
        border-radius: 20px;
        margin-left: 1rem;
      }
    }
  }
    
  }
}

@media screen and (min-width:700px) {
  .writepost-container{
    padding:1rem;
    display: flex;
    justify-content: space-between;

    .wp-first{
      width: 70%;
      padding: 1rem;
      position: relative;
      padding-right: 3rem;
    }
    .wp-second{
      width: 30%;
    }
    .wp-publish-btn{
      padding:.7rem 1.5rem ;
      background:orangered;
      color:white;
      border-radius:7px;
      position:absolute;
      right:1rem;
      top:10px;
    }
    .wp-title{
      border-radius: 5px;
      background-color: rgb(233, 233, 233);
      width:100%;
      max-height:150px;
      padding:1rem;
      margin-top:3rem;
   overflow: hidden;
   height:70px;
   font-size:30px;
   font-weight:700;
   &::before{
     content:"Title";
     font-size:30px;
     color:gray;
     font-weight:700;
   }
    }
    
    .wp-sub-title{
     width:100%;
     border-radius: 5px;
     background-color: rgb(233, 233, 233);
      width:100%;
      max-height:150px;
      padding:1rem;
   overflow: hidden;
   height:50px;
   
   margin-top:.5rem;
   &::before{
     content:"Sub Title";
     font-size:18px;
     color:gray;
   }
    }
    
    .wp-insert-cover{
      width:70%;
      height:150px;
     margin:2rem auto;
      border:1px solid;
      position:relative;
      border-radius:10px;
      max-width: 300px;
      cursor: pointer;

           
  .tit-img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:10px;
    position: absolute;
    
  }
      .wp-cover-icon{
        position:absolute;
        left:50%;
        top:50%;
        color:orangered;
        transform:translate(-50%,-50%);
      }
      .wp-cover-inp{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        font-size:13px;
        opacity:0;
      }
    }
    
    .wp-board{
      border-radius: 5px;
      background-color: rgb(233, 233, 233);
      padding:1rem;
      padding-bottom:4rem;
      margin-bottom:10rem;
      overflow:hidden;
      transition: all .5s;
      font-size: 17px;
.board-span{
  display:none;
}
.board-img{
  width:100%;
  object-fit: cover;
  object-position: center;
  height:200px;
  border-radius:10px;
}
    }
    /*.wp-tags{
      position: relative;
      width:70%;
      max-width:400px;
      margin:1rem;
      .wp-tag-board{
        width:60%;
        max-width:300px;
        height:70px;
        padding:.2rem;
        border:1px solid;
        
      }
      .wp-tag-btn{
        position:absolute;
        bottom:0;
        right:0;
        padding:.7rem 1rem;
        border-radius:6px;
        background:orangered;
        color:white;
      }
    }*/
    .wp-footer{
  
     height: 50dvh;
      background:black;
      color:white;
      padding:1rem;
      border-radius: 10px;
      padding:1rem;
      
      .wp-url{
        padding:.7rem 1rem;
        width:80%;
        margin:.5rem 0;
        border-radius:30px;
        
      }
      .wp-footer-box{
        display:flex;
flex-direction: column;

height: 10px;
transition:all .5s;
            .wp-bold, .wp-italic{
             font-size:30px;
             font-weight: 700;
             margin-right:1.5rem;
            }
            .wp-italic{ 
              font-style:italic;
              font-family:'Courier New', Courier, monospace
            }
            .wp-add-image{
              overflow:hidden;
              width:50px;
              position: relative;
              .wp-footer-icon{
                position: absolute;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
              }
              .wp-add-img{
                opacity:0;
              }
            }
            
            .wp-footer-url{
              font-size: 30px;
              margin-left: 1rem;
            }

            .wp-btn-link{
              background-color: orangered;
              color: white;
              padding: .8rem 3rem;
              border-radius: 20px;
              margin-left: 1rem;
            }
          
  }
}
    
  }
}


